@import '@styles/variables';

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: $color-sidebar-bg;
  padding: $spacing-lg;
  border-right: 1px solid $color-border-light;
  height: 100vh;
  justify-content: space-between;

  &__menu {
    margin-top: $spacing-xl;
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    margin-top: $spacing-xl;
  }
}
